<figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure>
  <figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure><figure class="figure">
    <img src="../../../assets/Images/card2.jpg" class="figure-img img-fluid rounded img-thumbnail" 
    alt="..." style="max-width: 155px;">
    <figcaption class="figure-caption">Actor 1 Name</figcaption>
    <figcaption class="figure-caption">Actor 1 Role</figcaption>

  </figure>

